.search-main-div {
    margin: 10px 0 20px 0;
    padding: 3px 20px;
}

h2 {
    margin: 20px 0 15px 0;
    font-style: italic;
}

.book-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.search-input {
    text-align: center;
    width: 40%;
    height: 24px;
    border: 1px solid #c9c9c9;
    font-size: 15px;
    margin: 10px 10px 10px 2px;
    border-radius: 3px;
    background: #f5fff5;
    cursor: pointer;
}
.search-input:hover {
    background: #e1ffe1;
}
.search-input:focus {
    background: #e1ffe1;
}

.search-input:focus {
    outline-color: orange;
}

.search-button {
    margin: 0 2px;
    border-radius: 30px;
    background-color: #ddd;
    color: #000;
    border: 1px solid #999;
    font-size: 15px;
    transition: 0.2s all ease-in-out;
    height: 25px;
    padding: 0 8px;
    cursor: pointer;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.7), inset -1px -2px 10px rgba(0, 0, 0, 0.3);
}
.search-button:hover {
    background-color: #aaa;
}