.button-delete {
    background-color: #ffacac;
    margin: 0 0 10px 30px;
    width: 100px;
    border-radius: 30px;
    color: #000;
    border: 1px solid #999;
    font-size: 12px;
    transition: 0.2s all ease-in-out;
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.7), inset -1px -2px 10px rgba(0, 0, 0, 0.3);

}

.button-delete:hover {
    background-color: #ff3f3f;
}

.button-cancel {
    background-color: #90afff;
    margin: 0 0 10px 30px;
    width: 100px;
    border-radius: 30px;
    color: #000;
    border: 1px solid #999;
    font-size: 12px;
    transition: 0.2s all ease-in-out;
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.7), inset -1px -2px 10px rgba(0, 0, 0, 0.3);
}

.button-cancel:hover {
    background-color: #4f5fff;
}
