.top-bar {
    width: 100%;
    display: block;
    position: fixed;
    height: 30px;
    padding: 5px 0;
    background: #eee;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.logged-in {
    width: calc(100% - 257px);
    float: left;
    position: relative;
    text-align: right;
    font-size: 13px;
    color: #444;
    padding: 7px  5px 0 5px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.logout-delete-container {
    width: 237px;
    float: left;
    position: relative;
    text-align: right;
    margin-right: 10px;
    padding-top: 2px;
}

.top-bar-spacer {
    width: 10px;
    background: linear-gradient(to right, rgba(238,238,238,0), rgba(238,238,238,1));
    float: left;
    position: absolute;
    right: 247px;
    display: block;
    height: 30px;
}
