.button-add {
    margin: 0 0 10px 30px;
    width: 220px;
    border-radius: 30px;
    background-color: #96f696;
    color: #000;
    border: 1px solid #999;
    font-size: 17px;
    transition: 0.2s all ease-in-out;
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.7), inset -1px -2px 10px rgba(0, 0, 0, 0.3);

}

.button-add:hover {
    background-color: #06bb06;
    color: #000;
    border-color: #999;
}