
.content-main-div {
    margin: 50px 0 10px 0;
    padding: 3px 20px;
    width: calc(100% - 40px);
    display: block;
    position: relative;
}

.db-list-cover-td {
    height: 92px;
    width: 92px;
    text-align: center;
    padding: unset;
}

.db-list-cover-img {
    max-height: 89px;
    max-width: 89px;
}

.db-list-button {
    border-radius: 30px;
    color: #000;
    font-size: 15px;
    height: 23px;
    margin: 2px;
    width: 65px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border: 1px solid #999;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.7), inset -1px -2px 10px rgba(0, 0, 0, 0.3);
}
.db-list-button-edit {
    background-color: #90afff;
}
.db-list-button-delete {
    background-color: #ffacac;
}
.db-list-button-edit:hover {
    background-color: #4f5fff;
}
.db-list-button-delete:hover {
    background-color: #ff3f3f;
}

.content-available {
    color: #080;
    font-weight: bold;
}
.content-not-available {
    color: #a00;
    font-weight: bold;
}

.button-left {
    margin-left: 7px;
    background-color: #FFE3C6;
    border: 2px solid #948473;
    margin-bottom: 2px;
}

.button-right {
    margin-left: 7px;
    background-color: #FFE3C6;
    border: 2px solid #948473;
    margin-bottom: 2px;
}

.filter-input {
    text-align: center;
    width: 250px;
    height: 24px;
    border: 1px solid #c9c9c9;
    font-size: 15px;
    margin: 10px 10px 10px 2px;
    border-radius: 3px;
    background: #f5fff5;
    cursor: pointer;
}
.filter-input:hover {
    background: #e1ffe1;
}

.filter-input:focus {
    background: #e1ffe1;
}

.book-info-left-div {
    position: relative;
    float: left;
    width: 37%;
}

.book-info-center-div {
    position: relative;
    float: left;
    width: 25%;
}

.book-info-right-div {
     position: relative;
     float: left;
     width: 37%;
 }
