
.content-table {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 100%;
    text-align: center;
}

.content-table td, .content-table th {
    border: 1px solid #948473;
    padding: 4px 4px;
}

.content-table tbody td {
    font-size: 13px;
}

.content-table th {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

.content-table tr th {
    font-size: 17px;
    font-weight: bold;
    color: rgba(5, 5, 5, 0.77);
    text-align: left;
    border-left: 2px solid #948473;
}

.content-table th:first-child {
    border-left: none;
}

button {
    height: 24px;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #948473;
    background-color: #FFE3C6;
    font-size: 13px;
    margin-left: 7px;
}

.button-left {
    margin-left: 7px;
    background-color: #FFE3C6;
    border: 2px solid #948473;
    margin-bottom: 2px;
}

.button-right {
    margin-left: 7px;
    background-color: #FFE3C6;
    border: 2px solid #948473;
    margin-bottom: 2px;
}

.button-add {
    margin-top: 2px;
    background-color: #FFE3C6;
    border: 2px solid #948473;
    padding: 1px 2px;
}

.modal {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 50%;
    text-align: left;
    margin-left: 5px;
}

.input-text {
    background: #FFE3C6;
    position: relative;
    border: 1px solid #FFF;
    display: inline-block;
}
